<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html>
<head>
    <meta charset="UTF-8"/>
    <title>管理员管理平台</title>
    <link rel="stylesheet" href="/bootstrap/css/core.css"/>
    <link rel="stylesheet" href="/bootstrap/css/icon.css"/>
    <link rel="stylesheet" href="/bootstrap/css/theme.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/style.css"/>
</head>
<body>
<div>
    <div>
        <div class="container">
            <div class="hero-area-inner">
                <div class="hero-area-text">
                    <h1>
                        欢迎来到<br/>
                    </h1>
                    <h3>信奥社区管理平台</h3>
                    <a href="/phone" class="readmore">欢迎登录</a>
                </div>
                <div class="hero-area-image">
                    <img src="/images/4.jpg" alt="man mask"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
